.dm{
    height: 86px;
    margin-top: 50px;
    background-color: green;
    
}
.dm div{
    width: 25%;
    height: 86px;
    background-color: white;
    float: left;
    text-align: center;
   
}
.dm img{
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;

}
.dm p{
    height: 22px;
    margin-left: 5px;
    text-align: center;
}
    