.dtop{
    height: 44px;
}
.dtop img{
    display: inline-block;
    height: 27px;
    width: 27px;
    margin-left: 10px;
    margin-top: 10px;
}
.dtop span{
    
    height: 44px;
    margin-left: 165px;
    font-size: 22px;
    text-align: center;
}
p{
    width: 100px;
    height: 20px;
    margin: 0 auto;
    text-align: center;
}